article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 100px 0;
}

article img {
    max-width: 100%;
    width: 500px;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 6px;
}

article div {
    max-width: 500px;
    text-align: left;
}

@media (min-width: 1024px) {
    article {
        flex-direction: row;
        justify-content: space-between;
    }

    article:nth-child(even) {
        flex-direction: row-reverse;
    }

    article img {
        max-width: 50%;
    }
}