.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: 6% 10%;
    gap: 1rem;
}

.bio img {
    height: 220px;
    width: 220px;
}

.bio h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Desktop */
@media (min-width: 1024px) {
    .bio {
        flex-direction: row;
        gap: 5rem;
    }

    .bio h2 {
        text-align: start;
    }
}