.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 10% auto;
}

.bio p {
    max-width: 400px;
}

.bio img {
    width: 200px;
    height: 200px;
}

.bio h2 {
    text-align: center;
}

@media (min-width: 1024px) {
    .bio {
        flex-direction: row;
        gap: 15%;
    }

    .bio h2 {
        text-align: start;
    }

    .bio:nth-child(even) {
        flex-direction: row-reverse;
    }
}