fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

legend {
    margin-bottom: 1rem;
}

input,
textarea {
    align-self: stretch;
    padding: 12px 12px;
    border: black;
    border-radius: 6px;
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

textarea {
    min-height: 120px;
    resize: none;
}

html,
body {
    background-color: #7E1418;
}

main {
    display: flex;
    flex-direction: column;
}

main>div {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

main>img {
    object-fit: contain;
}

/* Desktop */
@media (min-width: 1024px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    main>img {
        width: 50%;
        order: 1;
    }

    main>div {
        margin: 0;
    }
}