html,
body {

    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 2rem;
}

.frame {
    padding: 0 6%;
}

main {
    height: 90vh;
}

/* Header */
header {
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    font-family: 'Luckiest Guy';
    font-size: large;
    gap: 5%;
}

#menu-desktop {
    display: none;
}

#nav-logo {
    height: 40px;
}

#menu {
    height: 32px;
    margin-left: auto;
    display: block;
    cursor: pointer;
}

nav ul {
    list-style: none;
    position: relative;
    display: inline-flex;
    align-items: center;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
}

a:hover {
    color: #F15F27;
}

/* Button */
button {
    background: black;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 12px 48px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F15F27;
}

/* Banner */
.banner {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.banner-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 4%;
}

/* Tablet */
@media (min-width: 500px) and (max-width: 1023px) {}

/* Desktop */
@media (min-width: 1024px) {
    .frame {
        padding: 0 10%;
    }

    #menu {
        display: none;
    }

    #menu-desktop {
        display: initial;
    }
}