article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

article img {
    max-width: 100%;
    width: 400px;
    border-radius: 6px;
}

article div {
    max-width: 500px;
    text-align: left;
}

#soundtrack-player {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #F15F27;
    padding: 12px 24px;
    border-radius: 32px;
    max-width: fit-content;
    margin-top: 30px;
}

#soundtrack-player button {
    background: none;
    border: none;
    color: white;
    width: 32px;
    height: 32px;
    font-size: large;
    cursor: pointer;
}

@media (min-width: 1024px) {
    article {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    article img {
        max-width: 50%;
    }
}