.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 80dvh;
}

span {
    font-size: large;
}

.meme {
    max-width: 100%;
    width: 480px;
    border-radius: 12px;
}